:root {
  --cell-size: 200px;
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#gameboard {
  display: none;
  grid-template-columns: repeat(3, minmax(50px, var(--cell-size)));
  justify-content: center;
  margin-top: 100px;
}

.cell {
  border: 2px solid black;
  aspect-ratio: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  font-weight: bold;
}

div[data-index='0'], div[data-index='1'], div[data-index='2'] {
  border-top: none;
}
div[data-index='0'], div[data-index='3'], div[data-index='6'] {
  border-left: none;
}
div[data-index='6'], div[data-index='7'], div[data-index='8'] {
  border-bottom: none;
}
div[data-index='2'], div[data-index='5'], div[data-index='8'] {
  border-right: none;
}

.cell:hover {
  background: #ddd;
}

.token:hover {
  background: #ddd;
}

#start-btn {
  display: none;
}

.token {
  font-size: 40px;
  text-align: center;
}

.tokens {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#start-screen {
  display: grid;
  justify-content: center;
  margin-top: 200px;
}

#game-info {
  display: grid;
  grid-auto-flow: column
}

#player-1, #player-2 {
  text-align: center;
  font-size: 40px;
}

#player-1-token, #player-2-token {
  font-size: 75px;
  font-weight: bold;
}

.container {
  position: relative;
}

#game-over {
  position: absolute;
  z-index: 1;
  top: -500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 500px;
  box-shadow: 2px 2px 5px black;
  background: rgba(221, 221, 221, 0.95);
  display: none;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 16px;
}
