:root {
  --cell-size: 200px;
}

* {
  font-family: Arial;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  justify-content: center;
}

.cell {
  border: 2px solid black;
  height: var(--cell-size);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.cell:hover {
  background: #ddd;
}